@model Poznavacka.Areas.ContentItems.Models.ViewModels.OrganismData

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Opravdu zmazat tanto taxon?</h3>
<div>
    <h4>@Model.Taxon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Taxon" value="@Model.Taxon" />
        <input type="hidden" asp-for="KingdomID" value="@Model.KingdomID" />
        <input type="hidden" asp-for="PhylumID" value="@Model.PhylumID" />
        <input type="hidden" asp-for="ClassID" value="@Model.ClassID" />
        <input type="hidden" asp-for="OrderID" value="@Model.OrderID" />
        <input type="hidden" asp-for="FamilyID" value="@Model.FamilyID" />
        <input type="hidden" asp-for="GenusID" value="@Model.GenusID" />
        <input type="hidden" asp-for="SpeciesID" value="@Model.SpeciesID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
